:root {
  --clr-text: hsl(198, 25%, 10%);
  --clr-background: hsl(206, 33%, 96%);
  --clr-primary-100: hsl(201, 34%, 26%);
  --clr-primary-5: hsl(201, 34%, 26%, 0.05);
  --clr-secondary: hsl(201, 39%, 66%);
  --clr-accent: hsl(202, 44%, 41%);
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  background: var(--clr-background);
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: var(--clr-text);
}

h1,
h2,
h3 {
  /* color: var(--clr-text); */
  line-height: 1.1;
}

.flow {
  margin-top: 2rem;
}

.flow > * + * {
  margin-block-start: 1rem;
}

.header {
  grid-area: full-bredd;
  grid-row: 1;
  background-color: var(--clr-text);
  color: var(--clr-background);
  display: flex;
  justify-content: center;
}

.site-title {
  font-size: 4rem;
  align-self: center;
}

.navbar {
  grid-area: main;
  grid-row: 2;
  display: flex;
  /* border-bottom: 1px solid hsl(206, 33%, 15%); */
}

.main {
  grid-area: main;
  grid-row: 3;
}

.aside {
  grid-area: aside;
  grid-row: 3;
  background-color: var(--clr-primary-5);
  padding: 2rem;
  border-radius: 1rem;
}

.footer {
  grid-area: full-bredd;
  grid-row: 5;
  background-color: var(--clr-text);
  color: var(--clr-background);
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: flex;
  align-self: center;
}

.grid-wrapper {
  display: grid; /* Använder grid för huvudsakliga layouten */
  min-height: 100svh; /* Gör sidan hög nog för mobila enheter */

  /* Namnge gridlinjer och på så sätt skapa grid-areas. */
  grid-template-columns:
    [full-bredd-start] minmax(auto, 1rem)
    [inset-start main-start] 4fr [main-end aside-start] 1fr [aside-end inset-end] minmax(
      auto,
      1rem
    )
    [full-bredd-end];
  grid-template-rows: 2fr 56px 4fr 2fr 80px;
  column-gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.dekorativ-bild {
  grid-area: full-bredd;
  grid-row: 4;
}
